header{
    height: 75px;
    width: 100%;
    padding: 0  1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 15px #0000001c;
}
i{
    color: var(--black);
}