section.singup_body {
    height: 100dvh;
    justify-content: space-between;
    padding: 1rem 2rem;
}


section.singup_body, 
.form_container{
    display: flex;
    align-items: center;
    flex-direction: column;
 
}

.title_container,
.form_container,
.singup_container{
    width: 100%;
}

.title_container h1{
    font-size: 34px;
    text-transform: uppercase;
    text-align: start;
}


.form_container{
    justify-content: center;
    gap: 18px;
}

.input_body{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.input_container {
    border-radius: 25px;
    padding: 16px;
    width: 100%;
    display: flex;
    background-color: #d5ddeca6;
    border: 1px solid #bdc4d1;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.input_container i {
    font-size: 20px;
}

.input_container input {
    width: 100%;
    font-size: 16px;
    border: 0;
    background-color: transparent;
}
    .input_container input:focus-visible {
        outline: none;
    }


button{
    width: 100%;
    background-color: var(--azul);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 1rem;
    color: #FFF;
    margin-bottom: 15px;
}

img{
    width: 70%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
footer p{

    font-size: 14px;
}