.test{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
    padding: .5rem  1rem;
    height: 30vh;
    margin-top: 75px;
}

.user_container{
    width: 100%;
    font-size: 30px;
    padding: .5rem 0;
}


.barber_container{
    width: 100%;
}
.label p{
    margin-bottom: 5px;
    font-size: 14px;

}
.barber_content{
    gap: 10px;
    display: flex;
    align-items: center;
    background-color: #d1d7e4;
    padding: 1rem;
    border-radius: 10px;
}

.barber_content img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.barber_text_container{
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    display: flex;
    gap: 5px;
    align-items: start;
    flex-direction: column;
}

.barber_text_container p{
    font-family: 'Oswald';
}

.barber_text_container i{
    font-size: 14px;
    color: #FFAF00;
}