@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

:root{
    --marrom: #4F4A45;
    --marrom_two: #6C5F5B;
    --laranja: #F97B22;
    --white: #F6F1EE;
    --black: #1C283B;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica';
    color: var(--marrom);
}


p{
    color: var(--marrom);
}

i{
    display: grid;
    color: var(--marrom);
    place-items: center;
    font-size: 24px;
}

a{
    color: var(--black);
    width: 100%;
    text-decoration: none;
}

button{
    border: 0;
}