@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

:root{
    --black: #1C283B;
    --black_two: #223148;
    --azul: #0063C0;
    --vermelho: #FF3048;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica';
    color: var(--black);
}


p{
    color: var(--black_two);
}

i{
    display: grid;
    place-items: center;
    font-size: 24px;
}

a{
    color: var(--black);
    text-decoration: none;
}

button{
    border: 0;
}