@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --black: #1C283B;
    --black_two: #223148;
    --azul: #0063C0;
    --vermelho: #FF3048;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
    color: var(--black);
}

p, h3, h1{
    font-family: 'Roboto';
}

p{
    color: var(--black_two);
}

i{
    display: grid;
    place-items: center;
    font-size: 24px;
}

a{
    color: var(--black);
    text-decoration: none;
}