section.login_body {
    height: 100dvh;
    justify-content: space-between;
    background-color: var(--laranja);
}


section.login_body,
.form_container,
.login_container,
.header_container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login_container {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 20px 20px 0 0;
    gap: 30px;
}

.header_container,
.form_container,
.login_container {
    width: 100%;
}

.header_container {
    height: 100%;
    align-items: start;
    justify-content: space-between;
    padding: 2rem 1.5rem;

    & h1 {
        font-size: 54px;
        text-transform: uppercase;
        text-align: start;
        color: white;

    }

    & p {
        color: white;

    }

    & .back_container {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    & .btn_back {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
    }

    & a {
        width: auto;
    }

    & .btn_back i {
        font-size: 32px;
    }
}

.form_container {
    justify-content: center;
    gap: 10px;
}

.input_body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.input_container {
    border-radius: 25px;
    padding: 16px;
    width: 100%;
    display: flex;
    background-color: #d5ddeca6;
    border: 1px solid #bdc4d1;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.input_container i {
    font-size: 20px;
}

.input_container input {
    width: 100%;
    font-size: 16px;
    border: 0;
    background-color: transparent;
}

.input_container input:focus-visible {
    outline: none;
}

.btn_continue {
    width: 100%;
    background-color: var(--black);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 1rem;
    color: #FFF;
    margin-bottom: 15px;
}

img {
    width: 55%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer p {

    font-size: 14px;
}